# Ce fichier est un exemple des variables que doit contenir le fichier .env
# Copier-Coller les noms de variables dans un fichier .env puis ajouter les valeurs des variables

# OpenAI
OPENAI_API_KEY="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"

# Upstash
UPSTASH_VECTOR_REST_URL="https://holy-hog-14466-eu1-vector.upstash.io"
UPSTASH_VECTOR_REST_TOKEN="ABIFMGhvbHktaG9nLTE0NDY2LWV1MWFkbWluTXpJM01qTmxNelV0WVdSak1pMDBPREF6TFdKaFkyTXRPV1V5TkRJeFl6SXlNakU1"